@charset "UTF-8";
/* CSS Document */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mesa {
  background-image: linear-gradient(#018e75, #03777d);
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contenedor_cartas {
  width: 960px;
  height: 640px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 30px;
}

.carta {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
  background-image: linear-gradient(#8902a2, #76008c);
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  /*	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 90px;
	line-height: 50px;
	padding-top: 15px;*/
}

.carta__contenido {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: white;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  line-height: 50px;
  padding-top: 15px;
}

.carta_contenido::selection {
  background: transparent;
}

.carta.descubierta {
  transform: rotateY(-180deg);
}

.btn_repartir {
  align-self: center;

  font-size: 28px;
  background-image: linear-gradient(#f5d947, #e8b22a);
  color: black;
  padding: 12px 18px;
  border-radius: 12px;
  outline: none;
  border: none;
}

.btn_repartir:hover {
  background-image: linear-gradient(#feea86, #fee093);
}
.btn_repartir:hover:after {
  content: "✋🏾";
}
.btn_repartir:after {
  content: "✋🏻";
}
@keyframes error {
  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
    -webkit-transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    transform: rotateY(-180deg) translateX(2px);
    -webkit-transform: rotateY(-180deg) translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-4px);
    -webkit-transform: rotateY(-180deg) translateX(-4px);
  }
  40%,
  60% {
    transform: rotateY(-180deg) translateX(4px);
    -webkit-transform: rotateY(-180deg) translateX(4px);
  }
}
@-webkit-keyframes error {
  10%,
  90% {
    -webkit-transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    -webkit-transform: rotateY(-180deg) translateX(2px);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotateY(-180deg) translateX(-4px);
  }
  40%,
  60% {
    -webkit-transform: rotateY(-180deg) translateX(4px);
  }
}

@keyframes acierto {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }

  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }

  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}

.acertada {
  pointer-events: none;
}

.acertada .carta__contenido {
  animation: acierto 1.3s ease-in-out forwards;
}

.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
